body{
    background-color: #121217;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

nav {
    background-color: black;
    position: fixed;
    top: 0;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.notLogMsg{
	display: none;
  color: white;
  text-align: center;
  position: absolute; 
  top: 40%; left: 50%; 
  transform: translate(-50%, -50%); 
}

.mail-verification{
	display: none;
  color: white;
  text-align: center;
  position: absolute; 
  top: 40%; left: 50%; 
  transform: translate(-50%, -50%); 
}

#btn-verification{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn-verification:hover{
  background-color: #45a049;
}

#btn-reload{
  width: 60%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn-reload:hover{
  background-color: #45a049;
}

.search-bar{
	margin-right: auto;
	margin-left: auto;
	width: 70%;
  	text-align: center;
  	color: white;
  	padding-top: 8%;
}

#search-button{
	width: 30%;
	background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-ville{
	display: none;
	width: 80%;
	color: white;
	position: absolute; 
  	top: 40%; left: 50%; 
  	transform: translate(-50%, -50%);
}

.mapSearch{
	width: 100%;
	height: 400px;
	text-align: center;
}

#map{
	width: 100%;
	height: 400px;
}

#search-result{
	display: none;
	padding-top: 4%;
}

#create-ville{
	width: 30%;
	background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btnValidateVille{
	display: none;
	width: 40%;
	background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#viewResult{
	display: none;
	padding-top: 4%;
}

#viewMap{
	width: 100%;
	height: 300px;
}

#allButtons{
	display: inline;
}

.buttonsVille{
	width: 20%;
	background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#creerEvent{
	width: 80%;
	background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formEvent{
	display: none;
}