body{
    background-color: #121217;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

nav {
    background-color: black;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form{
  color: white;
  text-align: center;
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%); 
}

#inscription{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#inscription:hover{
  background-color: #45a049;
}

textarea {
  width: 100%;
}

h2 {
  color: white;
  text-align: center;
  padding-top: 6%;
}